/* Tailwindcss Install  */
@import "tailwindcss";


/* Mobile Device Responsive */
@media (max-width: 440px) {
  .containerMobile {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    color: black;
    padding: 10px 10px;
  }
}

.btn{
 padding: 10px 30px;
 color: white;
 background-color: blue;
 font-weight: 500;
 border-radius: 14px;
 cursor: pointer;
 font-size: 30px;
 margin-top: 10px;

}